# A generic my.cnf file based on /usr/share/mysql/my-medium.cnf
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#

# The MySQL server
[mysqld]
datadir		= /var/lib/mysql
socket		= /var/lib/mysql/mysql.sock
pid-file	= /var/run/mysqld/mysqld.pid
symbolic-links=0
plugin_dir=/usr/lib/mysql/plugin

[mysqld_safe]
log-error=/var/log/mysqld/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

